.git
.gitignore

node_modules
**/node_modules

.next
**/.next
.turbo
**/.turbo
.medusa
**/.medusa

.env
.env.local
.env.*.local
apps/backend/.env
apps/backend/.env.*
!apps/backend/.env.example
!apps/backend/.env.template
apps/storefront/.env.local

backups
*.sql
*.tar
*.tar.gz
*.zip

.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
