
# Courier fulfillment provider
COURIER_PROVIDER=furgonetka
COURIER_DEFAULT_SERVICE=standard
COURIER_DEFAULT_WEIGHT_KG=1
COURIER_DEFAULT_LENGTH_CM=30
COURIER_DEFAULT_WIDTH_CM=25
COURIER_DEFAULT_HEIGHT_CM=5
COURIER_SENDER_NAME=
COURIER_SENDER_EMAIL=
COURIER_SENDER_PHONE=
COURIER_SENDER_STREET=
COURIER_SENDER_POSTAL_CODE=
COURIER_SENDER_CITY=
COURIER_SENDER_COUNTRY=pl
